{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
        
    </script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">

    <title>QuizzName</title>

</head>

<body>

    <!--header area start-->
    <div class="nav-container">

        <h2>Quizz App Name</h2>
    </div>
    <!--header area end-->

    <!--sidebar start-->
    <div class="sidebar">
        <div class ="panel">

        <center>

            <img src="{% static 'images/Teacher.png' %}" class="profile_image" alt="">
            
            <h6 >{{request.session.tename}}</h6>
            <h4>(teacher)</h4>


        </center>


                <ul class="sideitems">
                    <li>
                        <a   href="{% url 'taketoTdash' %}">Home</a>
                    </li>
        
                    <li>
                        <a href="/student/student-marks">Reports</a>
                    </li>
        
                    <li>
                        <a  href="/" style="margin-top: 100px;">Logout</a>
                    </li>
    </div>
</div>
    <!--sidebar end-->

    <div class="form-area-aq">
        <form action="{% url 'getquestions' pk=request.session.tename fk=request.session.quizn %}" method="post">
            {% csrf_token %}
            
            

            

            <h3>Add Questions</h3>
            <hr>
            <p class="single-form-mks">
                <label for="marks">Marks</label>
                <input type="text" name="marks" id="marks" required>
                
            </p>
            <p class="single-form-aq">
                <label for="questions">Enter Question</label><br>
                <input type="text" name="question" id="question" required>
                
            </p>
            <p class="single-form-1">
                <input type="radio" class="in" id="one1" name="ans" value="" />
                <input type="text" class="inp" id="op1" name="optionA" for="one1"/>


               
                
            </p>
            <p class="single-form-1">
                <input type="radio" class="in" id="one2" name="ans" value=""  />
                <input type="text" class="inp" id="op2" name="optionB" for="one2"  />


               
            </p>
            <p class="single-form-1">
                <input type="radio" class="in" id="one3" name="ans" value=""  />
                <input type="text"class="inp"  id="op3" name="optionC" for="one3"/>

                
            </p>
            <p class="single-form-1">
                <input type="radio" class="in" id="one4" name="ans" value=""  />
                <input type="text" class="inp" id="op4" name="optionD" for="one4" />

               
                
            </p>


           
            <input class="addqt"type="submit" value="Save / Next ">
            
        </form>
        {% comment %} <li>
        <a href="{% url 'taketoTdash' %}">Home</a>
        </li> {% endcomment %}
    </div>



    <script>
        $(function () {
            var $src = $('#op1'),
                $dst = $('#one1');
            $src.on('input', function () {
                $dst.val($src.val());
            });
        });
        $(function () {
            var $src = $('#op2'),
                $dst = $('#one2');
            $src.on('input', function () {
                $dst.val($src.val());
            });
        });
        $(function () {
            var $src = $('#op3'),
                $dst = $('#one3');
            $src.on('input', function () {
                $dst.val($src.val());
            });
        });


        $(function () {
            var $src = $('#op4'),
                $dst = $('#one4');
            $src.on('input', function () {
                $dst.val($src.val());
            });
        });
        

        jQuery( function( $ ) { 
            $('form').on( 'submit', function( oEvent ) { 
                if (   !document.getElementById('one1').checked   
                &&   !document.getElementById('one2').checked 
                &&   !document.getElementById('one3').checked
                &&   !document.getElementById('one4').checked) 
                {
                    oEvent.preventDefault(); 
                    alert('Please select the Radio button with Correct option !!');
                }
            } )
        } );
        
    </script>
</body> 
</html>   

    
