{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;600;700&display=swap"
    rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="utf-8">
    <title>QuizzName</title>


</head>

<body>

    <!--header area start-->
    <div class="nav-container">

        <h2>Quizz App Name</h2>
    </div>
    <!--header area end-->

    <!--sidebar start-->
    <div class="sidebar">
        <div class ="panel">

        <center>

            <img src="{% static 'images/teacher.png' %}" class="profile_image" alt="">
            
            <h6>{{request.session.tename}}</h6>
            <h4>(teacher)</h4>

        </center>

        

        <ul class="sideitems">
            <li>
                <a   href="{% url 'takemakequiz' %}">Create Quiz</a>
            </li>

            <li>
                <a href="/Report.html">Reports</a>
            </li>

            <li>
                <a  href="/" style="margin-top: 100px;">Logout</a>
            </li>

    </div>
</div>
    <!--sidebar end-->

    <div class="manage_content">
      
        <h1>Manage Groups</h1>
        <hr >
    </div>
    <hr>


</body>

</html>