{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@100;200;300;400;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>QuizzName</title>
</head>

<body>
    <header>
        <div class="nav-container">
            <nav>
                <div class="logo">
                    <h1> Quizz App Name
                    </h1>
                </div>
                <ul class="navitems">
                    <li>
                        <a href="{% url 'homepage' %}">Home</a>
                    </li>
                    <li>
                        <a class="current" href="{% url 'taketoTlogin' %}">Teacher</a>
                    </li>
                    <li>
                        <a href="{% url 'taketoSlogin' %}">Student</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="bg1-img">
            <img src="{% static 'images/Background.png' %}" alt="">
        </div>


    </header>
    <div class="RegT-container">

        <form action="{% url 'teacherreg' %}" method="post">
            {% csrf_token %}
            {% if msg %}
            <h1 style="color: red;">{{msg}}</h1>
            {% endif %}
            <div class="fields">
                <h1>Teacher Registration !</h1>
                <div class="textfield_T">
                    <label>Name:</label><input type="text" name="tname" placeholder="Enter your Name"
                        autocomplete="off">
                </div>
                <div class="textfield_T">
                    <label>Email-id:</label><input type="email" name="temail" id="emailid"
                        placeholder="Enter your Email_id" autocomplete="off">
                </div>
                <div class="textfield_T">
                    <label>Password:</label><input type="password" name="tpass" placeholder="Create Password"
                        autocomplete="off">
                </div>

                <div class="textfield_T">
                    <label>Confirm Password:</label><input type="password" name="tcpass" id="cnfpassword"
                        placeholder="Confirm Password">
                </div>
                <button class="regT-button" type="submit">Create Account</button>
            </div>
        </form>

        <div class="img">
            <img src="{% static 'images/reg t.png' %}" alt="">
        </div>

    </div>


    <script>
        jQuery( function( $ ) { 
            $('form').on( 'submit', function( oEvent ) { 
                if (   !document.getElementById('one1').checked   
                &&   !document.getElementById('one2').checked 
                &&   !document.getElementById('one3').checked
                &&   !document.getElementById('one4').checked) 
                {
                    oEvent.preventDefault(); 
                    alert('Please select the Radio button with Correct option !!');
                }
            } )
        } );
        
    </script>

</body>

</html>